body {
  background-color: #4bff00;
}

ul {
  list-style-type: none;
}

ul li {
  margin-top: 5px;
}

input {
  width: 70%;
  height: 30px;
  font-size: .8em;
  text-align: center;
  background-color: white;
  border: 0;
  margin-left: 11%;
  font-family: 'Lato', sans-serif;
}

#form1 {
  display: block;
  width: 50%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c000ff;
  margin-top: 100px;
  padding: 50px 0 50px 0;
}

#rabbit_image {
  margin-top: -140px;
  height: 50%;
  width: 40%;
  z-index: -200;
}


#zebra_image {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  margin-left: 10px;
  background-color: #00f3ff;
  border-radius: 50%;
  padding: 10px;
  
 
}

#octopus_image {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #00f3ff;
  border-radius: 50%;
  padding: 10px;
 
}

#fox_image {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  float: right;
  background-color: #00f3ff;
  border-radius: 50%;
  padding: 10px;


}

#pelican_image {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  float: right;
  background-color: #00f3ff;
  border-radius: 50%;
  padding: 10px;

}

#racer0image {
  margin-left: 0px;
  width: 10%;
  height: 10%;
}

#racer1image {
  margin-left: 0%;
  width: 10%;
  height: 10%;
}

#racer2image {
  margin-left: 0%;
  width: 10%;
  height: 10%;
}

#racer3image {
  margin-left: 0%;
  width: 10%;
  height: 10%;
}

#racer0_input {
  margin-top: 20px;
  
}

#racer0species, #racer1species, #racer2species, #racer3species {
  display: none;
}

#racer1_input, #racer2_input, #racer3_input {
  margin-top: 20px;
  display: none;

}


#contestant {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


#contestant h3 {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: 'Lato', sans-serif;
  color: white;
  line-height: 150px;
}

#buttonRace {
  font-size: 1.2em;
  color: #383838;
  width: 50%;
  margin-top: 55px;
  margin-left: 25%;
  display: block;
  height: 40px;
  background-color: #00f3ff;
  border: 0;
  font-family: 'Lato', sans-serif;
}

#buttonRace a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

#buttonRace:hover {
  background-color: rgba(0, 243, 255, 0.9);
}

#contestant_selection {
  display: none;
  width: 700px;
  height: 700px;
  margin-left: 5px;
  margin-top: -440px;
  border-radius: 50%;
  border: 4px solid yellow;
 
}


#contestant_selection li {
  display: inline-block;
  margin-left: 2px;
  vertical-align: top;
  padding: 8%;

}












