body {
  background-color: #4bff00;
}

ul {
  list-style-type: none;
}

ul li {
  margin-top: 5px;
}

input {
  width: 70%;
  height: 30px;
  font-size: .8em;
  text-align: center;
  background-color: white;
  border: 0;
  margin-left: 11%;
  font-family: 'Lato', sans-serif;
}

#form1 {
  display: block;
  width: 50%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c000ff;
  margin-top: 100px;
  padding: 50px 0 50px 0;
}

#rabbit_image {
  margin-top: -140px;
  height: 100px;
  width: 100px;
  z-index: -200;
}

#turtle_image {
  margin-top: -140px;
  height: 100px;
  width: 100px;
  z-index: -200;
}

#dog_image {
  margin-top: -140px;
  height: 100px;
  width: 100px;
  z-index: -200;
}

#cat_image {
  margin-top: -140px;
  height: 100px;
  width: 100px;
  z-index: -200;
}

#racer0image {
  margin-left: 0px;
  width: 10%;
  height: 10%;
}

#racer1image {
  margin-left: 0%;
  width: 10%;
  height: 10%;
}

#racer2image {
  margin-left: 0%;
  width: 10%;
  height: 10%;
}

#racer3image {
  margin-left: 0%;
  width: 10%;
  height: 10%;
}

#racer0_input {
  margin-top: 20px;
}

#racer1_input {
  margin-top: 50px;
}

#racer2_input {
  margin-top: 80px;
}

#racer3_input {
  margin-top: 110px;
}

#contestant {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#circle_text {
  font-size: 1.2em;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#buttonRace {
  font-size: 1.2em;
  color: #383838;
  width: 50%;
  margin-top: 55px;
  margin-left: 25%;
  display: block;
  height: 40px;
  background-color: #00f3ff;
  border: 0;
  font-family: 'Lato', sans-serif;
}

#buttonRace a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

#buttonRace:hover {
  background-color: rgba(0, 243, 255, 0.9);
}
